{% load staticfiles %}
    <div id="server" class="onecell_server">
      <div class="col-1">
        <div class="col-6"><span class="onecell-port-txt">MGMT </span><span class="onecell-port-txt1">1</span> <span class="onecell-port-txt2">3</span> <span class="onecell-port-txt3">5</span></div>
        <div class="drive_cage" id="cage_1"> <a  class="showSingle" target="1">
          <div class="drive mgmt">
            <div id="status_led"></div>
            <div class="ethernetport-mgmt">
              <div class="ethernetport-tp-mgmt"><span class="chip-port">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
            </div>
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb"><span class="hd_id2_mgmt"><span class="graydulltext">MGMT</span> <br>
              <span class="graydulltext1">1 G</span></span></div>
            </span> </div>
          </a> <a  class="showSingle" target="2">
          <div class="drive opac">
            <div id="status_led"></div>
            <div class="ethernetport">
              <div class="ethernetport-tp"><span class="chip-port">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
            </div>
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb"><span class="hd_id2_mgmt"><span class="graydulltext">IQ</span> <br>
              <span class="graydulltext1">1 G</span></span></div>
            </span> </div>
          </a> <a  class="showSingle" target="2">
          <div class="drive opac">
            <div id="status_led"></div>
            <div class="ethernetport">
              <div class="ethernetport-tp"><span class="chip-port">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
            </div>
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb"><span class="hd_id2_mgmt"><span class="graydulltext">IQ</span> <br>
              <span class="graydulltext1">1 G</span></span></div>
            </span> </div>
          </a> <a  class="showSingle" target="2">
          <div class="drive opac">
            <div id="status_led"></div>
            <div class="ethernetport">
              <div class="ethernetport-tp"><span class="chip-port">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
            </div>
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb"><span class="hd_id2_mgmt"><span class="graydulltext">IQ</span> <br>
              <span class="graydulltext1">1 G</span></span></div>
            </span> </div>
          </a> <a  class="showSingle" target="0">
          <div class="drive mgmt opac"> <span class="hd_uid">
            <div class="usb-btm"><span class="hd_id2_iq"><span class="graydulltextiq">RESV</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span><span class="hd_id"></span>
            <div class="led-bottom">
              <div id="status_led"></div>
              <div class="ethernetport-btm-mgmt">
                <div class="ethernetport-btm-bdr-mgmt"><span class="chip-port-btm">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
              </div>
              <div id="status_led_right"></div>
            </div>
          </div>
          </a> <a  class="showSingle" target="2">
          <div class="drive opac"> <span class="hd_uid">
            <div class="usb-btm"><span class="hd_id2_iq"><span class="graydulltextiq">IQ</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span>
            <div class="led-bottom">
              <div id="status_led"></div>
              <div class="ethernetport-btm">
                <div class="ethernetport-btm-bdr"><span class="chip-port-btm">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
              </div>
              <div id="status_led_right"></div>
            </div>
          </div>
          </a> <a  class="showSingle" target="2">
          <div class="drive opac"> <span class="hd_uid">
            <div class="usb-btm"><span class="hd_id2_iq"><span class="graydulltextiq">IQ</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span>
            <div class="led-bottom">
              <div id="status_led"></div>
              <div class="ethernetport-btm">
                <div class="ethernetport-btm-bdr"><span class="chip-port-btm">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
              </div>
              <div id="status_led_right"></div>
            </div>
          </div>
          </a> <a  class="showSingle" target="2">
          <div class="drive opac"> <span class="hd_uid">
            <div class="usb-btm"><span class="hd_id2_iq"><span class="graydulltextiq">IQ</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span>
            <div class="led-bottom">
              <div id="status_led"></div>
              <div class="ethernetport-btm">
                <div class="ethernetport-btm-bdr"><span class="chip-port-btm">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
              </div>
              <div id="status_led_right"></div>
            </div>
          </div>
          </a> </div>
        <div class="col-6"><span class="onecell-port-txt0">0 </span><span class="onecell-port-txt5">2</span> <span class="onecell-port-txt2">4</span> <span class="onecell-port-txt3">6</span></div>
      </div>
      <!-- <div class="divider "></div> -->
      <div class="col-2">
        <div class="col-6"><span class="onecell-port-media-txt">DUAL MEDIA PORTS</span><span class="onecell-port-txt4">8</span><span class="onecell-port-txt5">10</span> </div>
        <div class="drive_cage" id="cage_2" > <a  class="showSingle" target="8">
          <div class="drive ipsec opac">
            <div id="status_led"></div>
            <div class="ethernetport-ipsec">
              <div class="ethernetport-tp-ipsec"><span class="chip-port">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
            </div>
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb"><span class="hd_id2_mgmt"><span class="graydulltext">BH</span> <br>
              <span class="graydulltext1">1 G</span></span></div>
            </span></div>
          </a> <a  class="showSingle" target="9">
          <div class="drive opac">
            <div id="status_led"></div>
            <div class="ethernetport">
              <div class="ethernetport-tp"><span class="chip-port">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
            </div>
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb"><span class="hd_id2_mgmt"><span class="graydulltext">FH</span> <br>
              <span class="graydulltext1">1 G</span></span></div>
            </span></div>
          </a> <a  class="showSingle" target="10">
          <div class="drive ipsec opac"> <span class="hd_uid">
            <div class="usb-btm"><span class="hd_id2_iq"><span class="graydulltextiq">BC</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span>
            <div class="led-bottom">
              <div id="status_led"></div>
              <div class="ethernetport-btm-ipsec">
                <div class="ethernetport-btm-bdr-ipsec"><span class="chip-port-btm">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
              </div>
              <div id="status_led_right"></div>
            </div>
          </div>
          </a> <a  class="showSingle" target="11">
          <div class="drive opac"> <span class="hd_uid">
            <div class="usb-btm"><span class="hd_id2_iq"><span class="graydulltextiq">HA</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span>
            <div class="led-bottom">
              <div id="status_led"></div>
              <div class="ethernetport-btm">
                <div class="ethernetport-btm-bdr"><span class="chip-port-btm">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
              </div>
              <div id="status_led_right"></div>
            </div>
          </div>
          </a> </div>
        <div class="col-6"><span class="onecell-port-txt4">7</span><span class="onecell-port-txt5">9</span> </div>
      </div>
      <div class="col-3">
        <div class="rack">
          <div class="chassis">
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
            <div class="blade">
              <div class="active-node"></div>
              <div class="active-node"></div>
              <div class="active-node"></div>
            </div>
          </div>
        </div>
        <div class="drive_cage_half" id="cage_3"> <a  class="showSingle" target="12">
          <div class="drive ipsec opac">
            <div id="status_led"></div>
            <!--<div class="ethernetport-ipsec"><div class="ethernetport-tp-ipsec"><span class="chip-port">&apos;&apos;&apos;</span></div></div>-->
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb-btm-10g"><span class="hd_id2_iq"><span class="graydulltextiq">BC</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span> </div>
          </a> <a  class="showSingle" target="13">
          <div class="drive ipsec opac">
            <div id="status_led"></div>
            <!--<div class="ethernetport-ipsec"><div class="ethernetport-tp-ipsec"><span class="chip-port">&apos;&apos;&apos;</span></div></div>-->
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb-btm-10g"><span class="hd_id2_iq"><span class="graydulltextiq">BH</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span></div>
          </a> <a  class="showSingle" target="14">
          <div class="drive opac">
            <div id="status_led"></div>
            <!-- <div class="ethernetport"><div class="ethernetport-tp"><span class="chip-port">&apos;&apos;&apos;</span></div></div>-->
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb-btm-10g"><span class="hd_id2_iq"><span class="graydulltextiq">HA</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span><span class="hd_status"></span> </div>
          </a> <a  class="showSingle" target="15">
          <div class="drive opac">
            <div id="status_led"></div>
            <!-- <div class="ethernetport"><div class="ethernetport-tp"><span class="chip-port">&apos;&apos;&apos;</span></div></div>-->
            <div id="status_led_right"></div>
            <span class="hd_uid">
            <div class="usb-btm-10g"><span class="hd_id2_iq"><span class="graydulltextiq">FH</span><br>
              <span class="graydulltext1iq">1 G</span></span></div>
            </span><span class="hd_status"></span> </div>
          </a>
          <div class="col-6 bc-txt-padding"><span class="onecell-port-txt7"> 7 </span><span class="onecell-port-txt8"> 8</span> <span class="onecell-port-txt2"> 9</span> <span class="onecell-port-txt3">10</span> <span class="onecell-port-txt3">11</span> <span class="onecell-port-txt3">12</span></div>
        </div>
      </div>
      <div class="col-4">
        <div class="drive_cage_half" id="cage_4"> <a  class="showSingle" target="2">
          <div class="drive opac">
            <div id="status_led_last"></div>
            <div class="ethernetport">
              <div class="ethernetport-tp"><span class="chip-port">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
            </div>
            <div id="status_led_right_last"></div>
            <span class="hd_uid">
            <div class="usb"><span class="hd_id2_iq"><span class="graydulltextiq">IQ</span><br>
              <span class="graydulltext1iq">10 G</span></span></div>
            </span><span class="hd_status"></span> </div>
          </a> <a  class="showSingle" target="17">
          <div class="drive opac" style="z-index:1">
            <div id="status_led_last"></div>
            <div class="ethernetport">
              <div class="ethernetport-tp"><span class="chip-port">&apos;&apos;&apos;&apos;&apos;&apos;</span></div>
            </div>
            <div id="status_led_right_last"></div>
            <span class="hd_uid">
            <div class="usb"><span class="hd_id2_iq"><span class="graydulltextiq">RESV</span><br>
              <span class="graydulltext1iq">10 G</span></span></div>
            </span><span class="hd_status"></span> </div>
          </a> </div>
      </div>
      <div id="logo_port"><img src="{% static 'images/logo-port.png' %}"></div>
      <div class="col-5">
        <div class="device-led"> <span class="device-led-txt">STATUS</span>
          <div class="led led-off"></div>
          <span class="device-led-txt">RP ERROR</span>
          <div class="led led-on"></div>
          <span class="device-led-txt">TIMING</span>
          <div class="led led-on"></div>
          <span class="device-led-txt">CORE</span>
          <div class="led led-on"></div>
          <span class="device-led-txt">RESET</span>
          <div id="power_button" class=""><span></span></div>
        </div>
        <div class="col port-gps" >
          <div id="uid_led"><span style="position:relative; top:25px; color:#ECE2E3; font-size:11px;">GPS</span></div>
        </div>
      </div>
    </div>
