<div class="col-lg-offset-8">
   <button id="apply-config-btn" type="button" class="btn btn-primary">Apply Configurations</button>
    <button type="button" class="btn btn-default">Export Configurations</button>
</div>
<div class="col-lg-12" id="summary" style="padding-top:10px;">
    <div class="ibox float-e-margins targetDiv"  >
    <div class="summary-heading-bg" >
    <span class="pull-left"> <h3>Network and Interface Configuration</h3></span>
    </div>
    <div class="wrapper">
    <div class="row">
    <div class="ibox float-e-margins targetDiv" >
    <div class="ibox-title">
        <h5>Management Interface Configuration</h5>
        <button id="mgmt-edit-btn" type="button" class="align-summarybtn btn btn-default pull-right">Edit Configurations</button>
    </div>
    <div class="ibox-content">
        <div class="webgui-configuration">
            <div  id="mgmtConfigSummary"></div>
        </div>
    </div>
    <div class="ibox-title">
        <h5>Backhaul Configuration</h5>
        <button id="backhaul-edit-btn" type="button" class="align-summarybtn btn btn-default pull-right">Edit Configurations</button>
    </div>

    <div class="ibox-content">
        <div class="webgui-configuration">
            <div class="divspace col-lg-6 grid1-border" id="s1Summary"></div>
            <div class="divspace col-lg-6 grid2-border" id="oamSummary"></div>
            <div class="divspace col-lg-6 grid3-border" id="s1GSummary"></div>
            <div class="divspace col-lg-6 grid4-border" id="oamGSummary"></div>

        </div>
    </div>


        <div class="ibox-title">
    <h5>Boundary Clock Configuration</h5>
    <button id="bclock-edit-btn" type="button" class="align-summarybtn btn btn-default pull-right">Edit Configurations</button>
    </div>
    <div class="ibox-content">
        <div class="webgui-configuration">
            <div  id="bclockSummary"></div>
        </div>
    </div>


    <div class="ibox-title">
        <h5>Fronthaul Configuration</h5>
        <button id="fronthaul-edit-btn" type="button" class="align-summarybtn btn btn-default pull-right">Edit Configurations</button>
    </div>
    <div class="ibox-content">
        <div class="webgui-configuration">
            <div  id="fronthaulSummary"></div>
        </div>
    </div>
    <div class="ibox-title">
        <h5>High Availability Configuration</h5>
        <button id="redundany-edit-btn" type="button" class="align-summarybtn btn btn-default pull-right">Edit Configurations</button>
    </div>
    <div class="ibox-content">
        <div class="webgui-configuration">
            <div  id="redundancySummary"></div>
        </div>
    </div>

    </div>
    </div>
    </div>
        <div class="summary-heading-bg" >
    <span class="pull-left"> <h3>Operator Configuration</h3></span>
    </div>
    <div class="wrapper">
    <div class="row">
    <div class="ibox float-e-margins targetDiv" >
    <div class="ibox-title">
        <h5>Hems Configuration</h5>
        <button id="hems-edit-btn" type="button" class="align-summarybtn btn btn-default pull-right">Edit Configurations</button>
    </div>
    <div class="ibox-content">
        <div class="webgui-configuration">
            <div  id="hemsSummary"></div>
        </div>
    </div>


        <div class="ibox-title">
        <h5>CA Server Configuration</h5>
        <button id="ca-server-edit-btn" type="button" class="align-summarybtn btn btn-default pull-right">Edit Configurations</button>
    </div>
    <div class="ibox-content">
        <div class="webgui-configuration">
            <div  id="caServerSummary"></div>
        </div>
    </div>

        <div class="ibox-title">
            <h5>Root Certificate Configuration</h5>
        </div>
    <div class="ibox-content">
        <div class="webgui-configuration">
            <div  id="rootCertSummary"></div>
        </div>
    </div>

    </div></div></div>


        <div class="summary-heading-bg" >
    <span class="pull-left"> <h3>SNMP Configuration</h3></span>
    </div>
    <div class="wrapper">
    <div class="row">
    <div class="ibox float-e-margins targetDiv" >
    <div class="ibox-title">
        <h5></h5>
        <button id="snmp-edit-btn" type="button" class="align-summarybtn btn btn-default pull-right">Edit Configurations</button>
    </div>
    <div class="ibox-content">
        <div class="webgui-configuration">
            <div  id="snmpSummary"></div>
        </div>
    </div>

    </div></div></div>

    </div>
    </div>